<p>list-product works!</p>
<h3>Fetch by API Service</h3>
<div class="container">
    <div class="row">
      <div class="col-3" *ngFor="let item of listProductNew">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">${{ item.price }}</h6>
              <p class="card-text"> item.description </p>
              <a routerLink="/store/detail/{{ item.id }}" class="card-link">Link to detail</a>
            </div>
        </div>
      </div>
    </div>
</div>

<h3>Fetch by Dummy Data Service</h3>
<div class="container">
    <div class="row">
      <div class="col-3" *ngFor="let item of listProduct">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ item.price }}</h6>
              <p class="card-text">{{ item.description }}</p>
              <a routerLink="/store/detail/1" class="card-link">Link to detail</a>
            </div>
        </div>
      </div>
    </div>
</div>
